# snakemake -n solve_elec_networks --cores 96 --configfile config/config.BA_NEP.yaml
# snakemake -j1 --rerun-incomplete -p --show-failed-logs
# snakemake -j1 -p --rerun-incomplete --show-failed-logs results/Test_cluster_focus_weights_base_network/KN2045_Elek/networks/base_s_150_elec_.nc
# snakemake --cleanup-metadata
#===============Version==============
version: v2025.07.0
#===============Tutorial==============
tutorial: false
#===============Logging==============
logging:
  level: INFO
  format: "%(levelname)s:%(name)s:%(message)s"
#===============Run==============
run:
  prefix: 'DE_and_direkt_neighbours' # Keine: .
  name: 'KN2045_Elek'
#===============Szenario==============
scenario:
  clusters:
  - 49 # Use ‘adm’ for administrative clustering mode, ‘all’ for all nodes.
  planning_horizons:
  - 2045
#=============== Base_network ==============
# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#electricity
electricity:
  voltages: [220., 300., 330., 380., 400., 500., 750.]
  base_network: entsoegridkit #osm
#===============Cost==============
costs:
  year: 2045
  social_discountrate: 0.02
  fill_values:
    FOM: 0
    VOM: 0
    efficiency: 1
    fuel: 0
    investment: 0
    lifetime: 25
    CO2 intensity: 0
    discount rate: 0.07
    standing losses: 0
  custom_cost_fn: data/custom_costs.csv
  overwrites: {}
  capital_cost: {}
  marginal_cost: {}
  emission_prices:
    enable: false
    co2: 0.0
    co2_monthly_prices: false
#===============Countruies==============
# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#countries
# Germany plus 12 "Stromnachbarn" --> Nur direkte Nachbarn
countries: ['AT', 'BE', 'CH', 'CZ', 'DE', 'DK', 'FR', 'GB', 'LU', 'NL', 'NO', 'PL', 'SE'] # Countrieliste in config.de mit leerem Array versehen []!!
#===============Szenario==============
clustering:
  focus_weights: # focus_weights in config.de focus_weights = false setzem!
  # high spatial resolution: change clusters to 49
  #  Bevor: 49 nodes: 30 for Germany, 3 for Italy, 2 each for Denmark, UK and Spain, 1 per each of other 10 "Stromnachbarn"
  #  After: 49 nodes: 35 for Germany, - for Italy, 2 each for Danmark, UK, - for Spain, 1 per each (0.0204) of other 10 "Stromnachbarn"
    'DE': 0.714
    'AT': 0.0204
    'BE': 0.0204
    'CH': 0.0204
    'CZ': 0.0204
    'DK': 0.0408
    'FR': 0.0204
    'GB': 0.0408
    'LU': 0.0204
    'NL': 0.0204
    'NO': 0.0204
    'PL': 0.0204
    'SE': 0.0204
    # sum = 0.9996 < 1 
#===============Solver==============
solving:
  options:
    clip_p_max_pu: 0.01
    load_shedding: false
    curtailment_mode: false
    noisy_costs: true
    skip_iterations: true
    rolling_horizon: false
    seed: 123
    custom_extra_functionality: ../data/custom_extra_functionality.py
    io_api:
    track_iterations: false
    min_iterations: 2
    max_iterations: 3
    transmission_losses: 2
    linearized_unit_commitment: true
    horizon: 365
    post_discretization:
      enable: false
      line_unit_size: 1700
      line_threshold: 0.3
      link_unit_size:
        DC: 2000
        H2 pipeline: 1200
        gas pipeline: 1500
      link_threshold:
        DC: 0.3
        H2 pipeline: 0.3
        gas pipeline: 0.3
      fractional_last_unit_size: false
    keep_files: false
    model_kwargs:
      solver_dir: ""
  agg_p_nom_limits:
    agg_offwind: false
    agg_solar: false
    include_existing: false
    file: data/agg_p_nom_minmax.csv
  constraints:
    CCL: false
    EQ: false
    BAU: false
    SAFE: false
  solver:
    name: gurobi
    options: "gurobi-default"
  #solver:
  #  name: highs
  #  options: "highs-simplex"
  solver_options:
    "highs-default":
      threads: 1 #default: 1
      solver: ipm
      run_crossover: 'off'
      small_matrix_value: 1.0e-06
      large_matrix_value: 1000000000.0
      primal_feasibility_tolerance: 1.0e-05
      dual_feasibility_tolerance: 1.0e-05
      ipm_optimality_tolerance: 0.0001
      parallel: 'on'
      random_seed: 123
    "highs-simplex":
      solver: simplex
      parallel: 'on'
      primal_feasibility_tolerance: 1.0e-05
      dual_feasibility_tolerance: 1.0e-05
      random_seed: 123
    "gurobi-default":
      threads: 32 # 64 probieren, sollte noch schneller gehen. # Mit 64 schnell zu viel Memory verbrauch!!
      method: 2
      crossover: 0
      BarConvTol: 1.0e-05
      Seed: 123
      AggFill: 0
      PreDual: 0
      GURO_PAR_BARDENSETHRESH: 200
    "gurobi-numeric-focus":
      NumericFocus: 3
      method: 2
      crossover: 0
      BarHomogeneous: 1
      BarConvTol: 1.0e-05
      FeasibilityTol: 0.0001
      OptimalityTol: 0.0001
      ObjScale: -0.5
      threads: 8
      Seed: 123
    "gurobi-fallback":
      crossover: 0
      method: 2
      BarHomogeneous: 1
      BarConvTol: 1.0e-05
      FeasibilityTol: 1.0e-05
      OptimalityTol: 1.0e-05
      Seed: 123
      threads: 8
    "cplex-default":
      threads: 4
      lpmethod: 4
      solutiontype: 2
      barrier.convergetol: 1.0e-05
      feasopt.tolerance: 1.0e-06
    "copt-default":
      Threads: 8
      LpMethod: 2
      Crossover: 0
      RelGap: 1.0e-06
      Dualize: 0
    "copt-gpu":
      LpMethod: 6
      GPUMode: 1
      PDLPTol: 1.0e-05
      Crossover: 0
    "xpress-default":
      threads: 8
      lpflags: 4
      crossover: 0
      bargaptarget: 1.0e-05
      baralg: 2
    "xpress-gpu":
      lpflags: 4
      crossover: 0
      baralg: 4
      barhggpu: 1
      barhgreltol: 1.0e-05
    "cbc-default": {}
    "glpk-default": {}
  check_objective:
    enable: false
    expected_value:
    atol: 1000000
    rtol: 0.01
  oetc:
  mem_mb: 128000
  memory_logging_frequency: 5
  runtime: 48h