#===============Notizen==============
# snakemake -n solve_elec_networks --cores 6 --configfile config/config.BA_NEP.yaml
#===============Version==============
version: v2025.07.0
#===============Tutorial==============
tutorial: false
#===============Logging==============
logging:
  level: INFO
  format: "%(levelname)s:%(name)s:%(message)s"
#===============Run==============
run:
  prefix: 'BA_NEP_2045'
  name: 'KN2045_Elek'
#===============Szenario==============
scenario:
  clusters:
  - 50 # > 20 Clusters!! #klienes Netz, weniger Regionen --> deutlich weniger Rechenaufwand 
  opts:
  - ""
  sector_opts:
  - "" #Nutzen, um nicht in sector-Simulation zu rutschen
  planning_horizons:
  - 2045
#===============Snapshot (optinal)==============
snapshots: # Aus welchen Zeitfenster werden Wetterdaten etc. genommen.
  start: "2019-01-01"
  end: "2020-01-01"
  inclusive: 'left'
#===============Electricity==============
# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#electricity
electricity:
  voltages: [220., 300., 330., 380., 400., 500., 750.]
  base_network: osm-prebuilt #entsoegridkit
  osm-prebuilt-version: 0.6
  gaslimit_enable: false
  gaslimit: false
  co2limit_enable: false
  co2limit: 7.75e+7
  co2base: 1.487e+9

  operational_reserve:
    activate: false
    epsilon_load: 0.02
    epsilon_vres: 0.02
    contingency: 4000

  max_hours:
    battery: 6
    H2: 168

  extendable_carriers:
    Generator: [solar, solar-hsat, onwind, offwind-ac, offwind-dc, offwind-float, OCGT, CCGT]
    StorageUnit: [] # battery, H2
    Store: [battery, H2]
    Link: [] # H2 pipeline

  powerplants_filter: (DateOut >= 2024 or DateOut != DateOut) and not (Country == 'Germany' and Fueltype == 'Nuclear')
  custom_powerplants: false
  everywhere_powerplants: []

  conventional_carriers: [nuclear, oil, OCGT, CCGT, coal, lignite, geothermal, biomass]
  renewable_carriers: [solar, solar-hsat, onwind, offwind-ac, offwind-dc, offwind-float, hydro]

  estimate_renewable_capacities:
    enable: true
    from_gem: true
    year: 2020
    expansion_limit: false
    technology_mapping:
      Offshore: offwind-ac
      Onshore: onwind
      PV: solar

  autarky:
    enable: false
    by_country: false

  transmission_limit: vopt
#===============Costs==============
costs:
  year: 2045
  social_discountrate: 0.02
  fill_values:
    FOM: 0
    VOM: 0
    efficiency: 1
    fuel: 0
    investment: 0
    lifetime: 25
    CO2 intensity: 0
    discount rate: 0.07
    standing losses: 0
  custom_cost_fn: data/custom_costs.csv
  overwrites: {}
  capital_cost: {}
  marginal_cost: {}
  emission_prices:
    enable: false
    co2: 0.0
    co2_monthly_prices: false
#===============Clustering==============
clustering:
  temporal:
    resolution_elec: 1h # Warning: This option should currently only be used with electricity-only networks, not for sector-coupled networks.
    resolution_sector: false
#===============Solver==============
solving:
  options:
    clip_p_max_pu: 0.01
    load_shedding: false
    curtailment_mode: false
    noisy_costs: true
    skip_iterations: true
    rolling_horizon: false
    seed: 123
    custom_extra_functionality: ../data/custom_extra_functionality.py # Extrem wichtig! In der Default wird auf andere Datei verwiesen. Snake fliegt dor!! Bisher immer nur mit einem Jahr! Testen mit zwei Jahren als horizont!
    io_api:
    track_iterations: false
    min_iterations: 2
    max_iterations: 3
    transmission_losses: 2
    linearized_unit_commitment: true
    horizon: 365
    post_discretization:
      enable: false
      line_unit_size: 1700
      line_threshold: 0.3
      link_unit_size:
        DC: 2000
        H2 pipeline: 1200
        gas pipeline: 1500
      link_threshold:
        DC: 0.3
        H2 pipeline: 0.3
        gas pipeline: 0.3
      fractional_last_unit_size: false
    keep_files: false
    model_kwargs:
      solver_dir: ""
  agg_p_nom_limits:
    agg_offwind: false
    agg_solar: false
    include_existing: false
    file: data/agg_p_nom_minmax.csv
  constraints:
    CCL: false
    EQ: false
    BAU: false
    SAFE: false
  solver:
    name: gurobi
    options: "gurobi-default"
  #solver:
  #  name: highs
  #  options: "highs-simplex"
  solver_options:
    "highs-default":
      threads: 1 #default: 1
      solver: ipm
      run_crossover: 'off'
      small_matrix_value: 1.0e-06
      large_matrix_value: 1000000000.0
      primal_feasibility_tolerance: 1.0e-05
      dual_feasibility_tolerance: 1.0e-05
      ipm_optimality_tolerance: 0.0001
      parallel: 'on'
      random_seed: 123
    "highs-simplex":
      solver: simplex
      parallel: 'on'
      primal_feasibility_tolerance: 1.0e-05
      dual_feasibility_tolerance: 1.0e-05
      random_seed: 123
    "gurobi-default":
      threads: 64 # 64 probieren, sollte noch schneller gehen.
      method: 2
      crossover: 0
      BarConvTol: 1.0e-05
      Seed: 123
      AggFill: 0
      PreDual: 0
      GURO_PAR_BARDENSETHRESH: 200
    "gurobi-numeric-focus":
      NumericFocus: 3
      method: 2
      crossover: 0
      BarHomogeneous: 1
      BarConvTol: 1.0e-05
      FeasibilityTol: 0.0001
      OptimalityTol: 0.0001
      ObjScale: -0.5
      threads: 8
      Seed: 123
    "gurobi-fallback":
      crossover: 0
      method: 2
      BarHomogeneous: 1
      BarConvTol: 1.0e-05
      FeasibilityTol: 1.0e-05
      OptimalityTol: 1.0e-05
      Seed: 123
      threads: 8
    "cplex-default":
      threads: 4
      lpmethod: 4
      solutiontype: 2
      barrier.convergetol: 1.0e-05
      feasopt.tolerance: 1.0e-06
    "copt-default":
      Threads: 8
      LpMethod: 2
      Crossover: 0
      RelGap: 1.0e-06
      Dualize: 0
    "copt-gpu":
      LpMethod: 6
      GPUMode: 1
      PDLPTol: 1.0e-05
      Crossover: 0
    "xpress-default":
      threads: 8
      lpflags: 4
      crossover: 0
      bargaptarget: 1.0e-05
      baralg: 2
    "xpress-gpu":
      lpflags: 4
      crossover: 0
      baralg: 4
      barhggpu: 1
      barhgreltol: 1.0e-05
    "cbc-default": {}
    "glpk-default": {}
  check_objective:
    enable: false
    expected_value:
    atol: 1000000
    rtol: 0.01
  oetc:
  mem_mb: 128000
  memory_logging_frequency: 5
  runtime: 48h